* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(
        to top,
        #bcb058,
        #c7bc66,
        #d1c775,
        #dcd383,
        #e7df92,
        #ede59d,
        #f2eba8,
        #f8f1b3,
        #f9f3bd,
        #faf5c6,
        #fbf6d0,
        #fcf8d9
    );
    width: 100vw;
    height: 100vh;
}

.contenedor-contenedores {
    display: flex;
    justify-content: space-around;
}

.contendor-figura {
    background-color: #f3b5cc;
    height: 700px;
    width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.contendor-figura .figura-geometrica img {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.contendor-figura .medidas-figura p {
    font-size: 30px;
    font-weight: bold;
    color: #741c3c;
    margin-bottom: 20px;
    text-align: center;
}

.contendor-figura .medidas-figura input {
    border: none;
    width: 70px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    padding-left: 20px;
    color: #535051;
    font-weight: bold;
    border-radius: 5px;
}

.contendor-figura .medidas-figura .boton-calcular button {
    border: none;
    margin-top: 40px;
    width: 300px;
    height: 40px;
    font-size: 15px;
    border-radius: 20px;
    font-weight: bold;
    background-color: #d8d2d4;
    box-shadow: 0 4px 0 0 #24232447;
}

.medidas-figura .resultados-medidas {
    width: 300px;
    height: 100px;
    margin-top: 50px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.resultados-medidas .medidas-area,
.resultados-medidas .medidas-perimetro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultados-medidas .medidas-area .area-titulo,
.resultados-medidas .medidas-perimetro .perimetro-titulo {
    color: #741c3c;
}
